
* {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e5e51f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.247);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(7, 211, 247, 0.329);
}

body {
  overflow-x: hidden;
}

.pointer:hover {
  cursor: pointer;
}

.container2{
  @apply px-6 lg:px-24;
}
.center{
  @apply flex items-center justify-center w-full h-full;
}

/* // heading start */
.section__title{
    @apply p-6 lg:py-12 lg:px-0 text-2xl md:text-3xl lg:text-4xl font-extrabold text-brand-primary;
}
/* //heading end */
p {
  font-size: 15px;
  font-weight: 400;
  color: #6c6a8a;
  margin-bottom: 15px;
  line-height: 26px;
}