@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
.nav-scroll{
  @apply bg-bismark-800;
}
.menuOverlay{
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  z-index: 1;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}
.sidemenu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translateX(0%);
    transition: all ease-in-out 0.5s;
}

.logo{
  animation: glitch 1s linear infinite;
}
/* code below for logo glitch */
@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.logo:before,
.logo:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.logo:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.logo:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

/* code below for menu items  */
