.nav-scroll{
  @apply bg-yellow-400 shadow-xl;
}
nav{
  z-index: 999999;
}
.menuOverlay{
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  z-index: 1;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}
.sidemenu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transform: translateX(0%);
  transition: all ease-in-out 0.5s;
}

/* code below for menu items  */
.menuOverlayScroll{
  @apply bg-yellow-400;
}
