// background start
.services__shape img.services-circle-1 {
    top: 8%;
    left: 0;
    opacity: .5;
}
.services__shape img {
    position: absolute;
    z-index: -1;
}
.services__shape img.services-circle-2 {
    top: 22%;
    right: 4%;
    -webkit-animation: services-circle-2 4s linear 0s infinite alternate;
    animation: services-circle-2 4s linear 0s infinite alternate;
}
.services__shape img.services-dot {
    top: 5%;
    left: 0;
    -webkit-animation: services-dot 4s linear infinite alternate;
    animation: services-dot 4s linear infinite alternate;
}

.services__shape img.services-triangle {
    top: 14%;
    right: 6%;
    -webkit-animation: services-triangle 4s linear infinite alternate;
    animation: services-triangle 4s linear infinite alternate;
}
@keyframes services-circle-2 {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@keyframes services-dot {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}
@keyframes services-triangle {
    0% {
    -webkit-transform: rotate(0deg) translateX(-50px);
    transform: rotate(0deg) translateX(-50px);
    }

    100% {
        -webkit-transform: rotate(1turn) translateY(100px);
        transform: rotate(1turn) translateY(100px);
    }
}
//background end
//services offered start
.card{
    @apply relative p-6 w-full md:w-5/12 lg:w-3/12 bg-white shadow-xl rounded-3xl border-t-4 border-yellow-400 mb-6 mr-6 h-80vh;
}
.card .card-heading{
    @apply text-xl lg:text-2xl font-bold text-center text-brand pb-6;
}
.card .card-para{
    @apply font-light text-justify;
}
//services offered end
